body {
  font-family: nimbus-roman, serif;
  font-weight: 400;
  font-style: normal;
}



h1 {
  font-size: 90px;
  font-weight: 400;
  line-height: 80px;
  margin-top: 0px;
}


.extended-font {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inline {
  display: inline;
}

.side-text {
  max-width: 750px;
  /* width: 40vw; */
  line-height: 78px;
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 40px;
  position: fixed;
}


.line-work {
  position: absolute;
  left: 0px;
  top: 290px;
  z-index: -1;
}


a {
  text-decoration: underline;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

.relative {
  position: relative;
}

.some-div {
  /* overflow: hidden; */
  position: relative;
}


.jesus-fuck {
  position:fixed;
  width: 842px;
  left: 880px;
  top: 290px;
  z-index: -1;

}

.sideways-scroll-section {
  height: 200vw;
}


.sideways-scroll-div {
  position: fixed;
  top: 60px;
  left: 750px;
  width: 200vw;
  height: 100vh;
}


.posters-div {
  /* position: absolute;
  top: 60px;
  left: 742px;
  overflow: hidden;
  white-space: nowrap;
  display: block; */
}




.posters-img {
  padding-right: 20px;
  height: 85vh;
  padding-bottom: 0px;
}

.marquee-section {
  position: relative;
}

.marquee {
  font-style: italic;
  /* position: absolute; */
  top: 0px;
  left: 0;
  font-size: 30px;
  font-style: italic;
  line-height: 1.1;
  overflow: hidden;
  color: white;
  background-color: black;
  margin-top: 0;
  padding-bottom: 5px;
  position: fixed;
}


@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000vw);
  }
}

.marquee span {
  animation: moveLeft 800s infinite;
  white-space: nowrap;
  display: block;
  position: relative;
  animation-timing-function: linear;
}




.tasteful-space {
  width: 140px;
}





/* @media only screen and (max-width: 1700px) {
  .side-text {
    max-width: 900px;
    width: 50vw;
    line-height: 78px;
  }

} */



@media only screen and (max-width: 1400px) {
  .side-text {
    max-width: 1200px;
    width: 50vw;
  }

  /* .side-text {
    padding-top: 10px;
    position: static;
  } */

  .sideways-scroll-div {
    position: fixed;
    top: 60px;
    left: 50vw;
    width: 200vw;
    height: 100vh;
  }

  /* .posters-img {
    padding-right: 0px;
    height: auto;
    padding-bottom: 2.5vw;
  }

  .marquee {
    position: static;
  } */

}


@media only screen and (max-width: 1000px) {
  .side-text {
    max-width: 1200px;
    width: 100vw;
  }

  .side-text {
    padding-top: 10px;
    position: static;
  }

  .sideways-scroll-div {
    height:auto;
    width: 95vw;
    left: 50vw;
    position: static;
    margin: 0 auto;
  }

  .posters-img {
    padding-right: 0px;
    height: auto;
    padding-bottom: 2.5vw;
  }

  .marquee {
    position: static;
  }
}



@media only screen and (max-width: 600px) {

  h1 {
    line-height: 78px;
    font-size: 40px;
    font-weight: 400;
    line-height: 36px;
  }

  .tasteful-space {
    width: 60px;
  }

  .line-work {
    position: absolute;
    left: 0px;
    top: 150px;
    z-index: -1;
  }

  .sideways-scroll-div {
    height:auto;
    width: 95vw;
    left: 0vw;
    position: static;
    margin: 0 auto;
  }

}
