body {
  font-family: nimbus-roman, serif;
  font-weight: 400;
  font-style: normal;
}



h1 {
  font-size: 90px;
  font-weight: 400;
}


.side-text {
  max-width: 900px;
  width: 40vw;
  line-height: 78px;
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}



@media only screen and (max-width: 1400px) {
  .side-text {
    max-width: 1200px;
    width: 100vw;
    line-height: 78px;
  }

/* body {
  background-color: lime;
} */

}


@media only screen and (max-width: 600px) {


}
